<section class="h-screen flex justify-center items-center">
  <div class="max-w-[500px] p-5">
    <h1 class="text-4xl font-bold mb-4">Sobre mi</h1>
    <p class="text-xl text-pretty text-slate-200">
      Desarrollador web con más de <span
        class="text-white font-extrabold bg-gradient-to-r from-cyan-500 to-blue-500"
        >4 años de experiencia</span
      >, especializado en Frontend. Me apasiona crear experiencias digitales
      excepcionales y mantenerme actualizado con las últimas tecnologías.
    </p>
  </div>
</section>
