---
import Info from "../components/icons/Info.astro";
---

<section class="h-screen flex justify-center items-center">
  <div class="max-w-[500px] p-5">
    <h1 class="text-4xl font-bold mb-4">Experiencia</h1>
    <ol class="relative border-s border-gray-200 my-6 mx-2">
      <li class="mb-10 ms-5">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"
        >
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-slate-200"
          >Agosto 2023 - Actualmente</time
        >
        <h3
          class="text-lg font-semibold text-white bg-gradient-to-r from-cyan-500 to-blue-500 w-fit my-2 px-1"
        >
          Frontend Software Engineer
        </h3>
        <p class="mb-4 text-base font-normal text-slate-400">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa minima
          nihil qui impedit nobis, mollitia dolores nesciunt natus, quia atque
          quae dolorem voluptatem eius ad amet reprehenderit aperiam
          consequuntur dolore?
        </p>
      </li>
      <li class="mb-10 ms-5">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"
        >
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-slate-200"
          >Marzo 2022 - Julio 2023</time
        >
        <h3
          class="text-lg font-semibold text-white bg-gradient-to-r from-cyan-500 to-blue-500 w-fit my-2 px-1"
        >
          Senior Frontend Developer
        </h3>
        <p class="mb-4 text-base font-normal text-slate-400">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dicta
          rerum ex fugiat consequuntur laborum voluptatem iusto, sint dolores
          eos enim minus qui, laudantium doloremque officia saepe commodi cum
          neque.
        </p>
      </li>
      <li class="mb-10 ms-5">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"
        >
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-slate-200"
          >Mayo 2020 - Febrero 2022</time
        >
        <h3
          class="text-lg font-semibold text-white bg-gradient-to-r from-cyan-500 to-blue-500 w-fit my-2 px-1"
        >
          Software Developer
        </h3>
        <p class="mb-4 text-base font-normal text-slate-400">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
          repellendus quaerat eos labore accusamus suscipit tempore laboriosam,
          minus.
        </p>
      </li>
      <li class="mb-10 ms-5">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"
        >
        </div>
        <time
          class="flex items-center gap-2 mb-1 text-sm font-normal leading-none text-slate-200"
          >Febrero 2019 - Mayo 2020
          <div data-tooltip-target="tooltip-right" data-tooltip-placement="top">
            <Info />
          </div>
        </time>
        <div
          id="tooltip-right"
          role="tooltip"
          class="absolute z-10 invisible inline-block px-2 py-1 text-sm font-medium bg-slate-200 text-black rounded-lg shadow-sm opacity-0 tooltip"
        >
          Con un hiatus de 6 meses
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <h3
          class="text-lg font-semibold text-white bg-gradient-to-r from-cyan-500 to-blue-500 w-fit my-2 px-1"
        >
          Software Developer Internship
        </h3>
        <p class="mb-4 text-base font-normal text-slate-400">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel debitis
          ipsum ratione ullam laboriosam illum, facilis eius quia in eaque
          laborum, quas omnis. Deleniti atque minus assumenda mollitia! Non,
          mollitia!
        </p>
      </li>
    </ol>
  </div>
</section>
