<section class="h-screen flex flex-col justify-center items-center">
  <div class="flex flex-col justify-center gap-10 sm:flex-row sm:items-start">
    <div
        class="flex justify-center items-center rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 size-[102px]"
      >
      <img class="size-24 rounded-full" src="me.jpeg" alt="Me!" />
    </div>
    <div class="flex flex-col font-bold text-slate-200">
      <h4 class="text-base">Hola! 👋</h4>
      <h1 class="text-2xl mb-3">Soy Rubén Pacheco Matas</h1>
      <h2
        class="pr-1 text-white bg-gradient-to-r from-cyan-500 to-blue-500 text-4xl"
      >
        Frontend Developer
      </h2>
    </div>
  </div>
</section>
